/* Header */
.header {
    background-image: url("../img/blog.jpg");
    background-size: cover;
    background-position: center center;
}

nav {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
}


nav .socialIcons {
    color: #fc8237;
}

nav .socialIcons a:link, nav .socialIcons a:visited {
    color: #fc8237;
}

.socialIcons .fa {
    padding-right: 10px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    border-bottom: 1px solid gray;
}

.headerContainer h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}